In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"D:\\myWealthcomAPI\\uploads\\1faf01b1-2c21-48d8-9460-6911e2f21178.csv")
df.head()
df.columns

Index(['Txn Date', 'Value Date', 'Description', 'Ref No./Cheque No.',
       '        Debit', 'Credit', 'Balance'],
      dtype='object')

In [4]:
df1=df.drop(columns=['Txn Date','Value Date','Ref No./Cheque No.','        Debit','Credit','Balance'])
df1.head()

                                         Description
0     TO TRANSFER-UPI/DR/506067150779/Indian C/HD...
1     TO TRANSFER-UPI/DR/506053743973/RAMNAYAN/YE...
2     TO TRANSFER-UPI/DR/506068075323/NEELUKUM/YE...
3     TO TRANSFER-UPI/DR/506069543214/MAA DURG/YE...
4     TO TRANSFER-UPI/DR/049426401532/AAFSHAN /UB...